body {
	background-color: white;
}
 
.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

.hidden {
	display: none;
}

.page-header {
	background:
				linear-gradient(to right, rgba(85,150,154,1),rgba(194,223,225,0.2));
	background-repeat: no-repeat no-repeat no-repeat;	
	background-position: left 0em bottom 0em,
	                      left 10em bottom 10em,
						  left 13em bottom 13em;		
}

/* TYPOGRAPHY */

.blog-font, .main-footer{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.blog-font header h2{
	font-size: 64px;
	color: #0b777b;
	font-weight: bold;
}

.blog-font p{
	font-size: 21px;
	color: #7f8c8c;
}

.blog-font footer span{
	color: #378184;
	font-size: 19px;
}

.blog-font footer strong{
	color: #094244;
	font-weight: bold;
}

/* LAYOUT */

.page-header{
	margin-bottom: 88px;
}

.blog-font{
	margin-bottom: 70px;
	padding: 0 60px;
}

.blog-font footer{
	margin-top: 26px;
}

.blog-font footer span{
	margin: 0 20px;
}

.blog-font footer img{
	vertical-align: middle;
}

.main-footer{
	font-size: 64px;
	color: #0b777b;
	font-weight: bold;
}

